## Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.vsix
*.vsidx

## Blizzard source files are not part of this repository.
resources/common.j
resources/Blizzard.j
resources/common.ai

## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Test results
TestResults/
*.trx

## Rider / VS Code
.idea/
.vscode/*
!.vscode/extensions.json

## NuGet
*.nupkg
**/packages/*
!**/packages/build/

## OS
.DS_Store
Thumbs.db
